<!DOCTYPE html>
<html>
  <head ng-app='game'>
    <meta charset='utf-8'>
    <title>Food Fight</title>
  </head>
  <header>
  <h1>Food Fight </h1>

  </header>
  <body>

    <main ng-controller='LoginController as loginCrtl'>

      <form name='loginform' ng-submit=''>

        <label for='email'>Email</label>
        <input ng-model='loginCtrl.userLogin.email' type='email' name='email' placeholder='game@game.com' required>
        <label for='password'>Password</label>
        <input ng-model='loginCtrl.userLogin.email' type='password' name='password' required>

        <button type='submit' name='submitLogin'>Log In</button>

      </form>

    </main>


    <script src='/js/game.module.js'></script>
    <script src='/js/login.controller.js'></script>
    <script src='/js/login.service.js'></script>
    <script src='/js/upc.service.js'></script>

  </body>
</html>
