<section class='bio-wrapper col-lg-4'>
  <article class='thumbnail creators'>
    <img src='/images/sara_pic.jpg' alt='Sara Basile Portrait'>
    <h2>Sara Basile</h2>
    <p class='lead bioLead'>Front End Engineering</p>
    <p>Sara is a recent Iron Yard graduate specializing in JavaScript, HTML, and CSS. She has a B.A. in Photography and Digital Technology, is an avid gamer, and a mother of two. She plays a lot of Overwatch and bakes amazing cupcakes.</p>
    <aside class='socialIcons'>
      <p class='col-lg-6'>Find me on:</p>
    <a href='http://www.twitter.com/WatchTheGap'class='btn btn-social-icon btn-twitter col-lg-offset-1'>
      <i class='fa fa-twitter'></i>
    </a>
    <a href='http://www.github.com/WatchTheGap'class='btn btn-social-icon btn-github'>
      <i class='fa fa-github'></i>
    </a>
    <a href='https://www.linkedin.com/in/sara-basile-608426139/'class='btn btn-social-icon btn-linkedin'>
      <i class='fa fa-linkedin'></i>
    </a>
</aside>
  </article>
</section>

<section class='bio-wrapper col-lg-4'>
  <article class='thumbnail creators'>
    <img src='http://www.fillmurray.com/150/200' alt='Seth Brady Portrait'>
    <h2>Seth Brady</h2>
    <p class='lead bioLead'>Front End Engineering</p>
    <p></p>
    <aside class='socialIcons'>
      <p class='col-lg-6'>Find me on:</p>
    <a href='http://www.twitter.com/Sgbrady'class='btn btn-social-icon btn-twitter col-lg-offset-1'>
      <i class='fa fa-twitter'></i>
    </a>
    <a href='http://www.github.com/sethgabrielbrady'class='btn btn-social-icon btn-github'>
      <i class='fa fa-github'></i>
    </a>
    <a href='https://www.linkedin.com/in/seth-brady-1b689096/'class='btn btn-social-icon btn-linkedin'>
      <i class='fa fa-linkedin'></i>
    </a>
  </aside>
  </article>
</section>

<section class='bio-wrapper col-lg-4'>
  <article class='thumbnail creators'>
    <img src='http://www.fillmurray.com/150/200' alt='Molly Stoopler Portrait'>
    <h2>Molly Stoopler</h2>
    <p class='lead bioLead'>Back End Developer</p>
    <p>Molly is a back end developer, former Maryland Terrapin, and a graduate of the Ruby on Rails course at The Iron Yard. In her spare time she enjoys long walks in Gerudo Valley, eating her way through Washington DC, and Green Bay Packers football.
    </p>
    <aside class='socialIcons'>
      <p class='col-lg-6'>Find me on:</p>
      <a href='http://www.twitter.com/pplsrd'class='btn btn-social-icon btn-twitter col-lg-offset-1'>
      <i class='fa fa-twitter'></i>
    </a>
    <a href='https://github.com/mstoople532'class='btn btn-social-icon btn-github'>
      <i class='fa fa-github'></i>
    </a>
    <a href='https://www.linkedin.com/in/molly-stoopler-4b25b7140/'class='btn btn-social-icon btn-linkedin'>
      <i class='fa fa-linkedin'></i>
    </a>
  </aside>



  </article>
</section>
