<section class='bio-wrapper col-lg-4'>
  <article class='thumbnail creators'>
    <img src='http://www.fillmurray.com/200/300' alt=' bill murray'>
    <h2>Bill Murray</h2>
    <p>Lyft bespoke migas polaroid, literally irony craft beer iPhone green juice heirloom viral banh mi organic. Pickled cliche craft beer meh, pitchfork narwhal poutine gentrify farm-to-table fam try-hard. Kombucha ramps squid truffaut. Knausgaard hella bespoke vaporware. Locavore synth selvage, iPhone forage small batch disrupt portland. </p>
    <a href='http://www.twitter.com/WatchTheGap'>@WatchTheGap</a>
  </article>
</section>

<section class='bio-wrapper col-lg-4'>
  <article class='thumbnail creators'>
    <img src='http://www.fillmurray.com/200/300' alt=' bill murray'>
    <h2>Bill Murray</h2>
    <p>Lyft bespoke migas polaroid, literally irony craft beer iPhone green juice heirloom viral banh mi organic. Pickled cliche craft beer meh, pitchfork narwhal poutine gentrify farm-to-table fam try-hard. Kombucha ramps squid truffaut. Knausgaard hella bespoke vaporware. Locavore synth selvage, iPhone forage small batch disrupt portland. </p>
    <a href='http://www.twitter.com/WatchTheGap'>@WatchTheGap</a>
  </article>
</section>

<section class='bio-wrapper col-lg-4'>
  <article class='thumbnail creators'>
    <img src='http://www.fillmurray.com/200/300' alt=' bill murray'>
    <h2>Bill Murray</h2>
    <p>Lyft bespoke migas polaroid, literally irony craft beer iPhone green juice heirloom viral banh mi organic. Pickled cliche craft beer meh, pitchfork narwhal poutine gentrify farm-to-table fam try-hard. Kombucha ramps squid truffaut. Knausgaard hella bespoke vaporware. Locavore synth selvage, iPhone forage small batch disrupt portland. </p>
    <a href='http://www.twitter.com/WatchTheGap'>@WatchTheGap</a>
  </article>
</section>
