

<section class='col-xs-12 col-lg-4 cardWrapper' ng-repeat='card in cardsCtrl.cards'>
  <article class='playerCardDisplay cardDisplay col-xs-10 col-xs-offset-1'>
    <img src='http://www.fillmurray.com/100/100' class='image-box playerAvatar'>
    <p>{{ card.food_name }}</p>
    <ul class='list-group stats-group'>
      <li class='list-group-item'>HEALTH: {{ card.health }}</li>
      <li class='list-group-item'>DEFENSE: {{ card.defense }}</li>
      <li class='list-group-item'>CLASS: {{ card.klass }}</li>
      <li class='list-group-item'>ENERGY: {{ card.energy}}</li>
    </ul>
  </article>
</section>
