<article class='panel panel-primary col-lg-4'>
  <section class='panel-heading'>
    <h3>Character Name</h3>
  </section>
  <section class='panel-body'>
    <ul class='list-group'>
      <li class='list-group-item'>ID: {{ cardsCtrl.storedData.id }} </li>
      <li class='list-group-item'>HEALTH: {{ cardsCtrl.storedData.health }}</li>
      <li class='list-group-item'>DEFENSE: {{ cardsCtrl.storedData.defense }}</li>
      <li class='list-group-item'>CLASS: {{ cardsCtrl.storedData.klass }}</li>
      <li class='list-group-item'>ENERGY: {{ cardsCtrl.storedData.energy}}</li>
    </ul>
  </section>
</article>
