<form ng-submit name='createUserForm'>

  <label for='email'>Email</label>
  <input ng-model='' type='email' name='email' required placeholder='game@game.com'>

  <label for='username'>Username</label>
  <input ng-model='' type='text' name='username' required placeholder='Choose a username'>

  <label for='password'>Password</label>
  <input ng-model='' type='password' name='password' required placeholder='********'>

  <label for='password_confirmation'>Please re-enter your password</label>
  <input ng-model='' type='password' name='password_confirmation' required placeholder='********'>


</form>
