<section ng-cloak
         ng-show='!userCtrl.loggedIn()'
         class='homeTemplate row'>
  <a ui-sref='login'>
    <button class='btn btn-primary btn-lg col-lg-2 col-lg-offset-3 homeButtons'>Log In</button>
  </a>
  <a ui-sref='create-user'>
    <button class='btn btn-primary btn-lg col-lg-2 col-lg-offset-2 homeButtons'>Create an Account</button>
  </a>
</section>

<section ng-cloak
         ng-show='userCtrl.loggedIn()'
         class='logo'>
  <a ui-sref='play'>
    <img src='/images/food_fight_logo.png' alt='food fight logo'>
  </a>
</section>

<section ng-cloak
         ng-show='userCtrl.loggedIn()'
         class='playBtn'>
  <a ui-sref='play'>
    <h1 class='start'>start game</h1>
  </a>
</section>
