
<main ng-controller='LoginController as loginCrtl'>

  <form name='loginform' ng-submit='loginform.$valid && loginCtrl.login(loginCtrl.userLogin)'>

    <label for='email'>Email</label>
    <input ng-model='loginCtrl.userLogin.email' type='email' name='email' placeholder='food@fight.com' required>
    <label for='password'>Password</label>
    <input ng-model='loginCtrl.userLogin.password' type='password' name='password' required>

    <button type='submit' name='submitLogin'>Log In</button>

  </form>

  <section class='errMsg'>
    <p ng-cloak ng-show='loginform.email.$touched && !loginform.email.$valid'>Please enter a valid email address.</p>
    <p ng-clock ng-show='loginform.password.$touched && !loginform.email.$valid'>Please enter a valid password.</p>
    <p ng-cloak ng-show='loginCtrl.hasError'>{{loginCtrl.message}}</p>
    <!-- add alert for when email or password is wrong/not found in the db -->
  </section>

</main>
