
<section ng-controller = 'GameController as gameCtrl' class='game-box'>


  <aside ng-show='gameCtrl.checkBattleBool()'>
  <h2>Player Health:{{gameCtrl.playerHealth}} : Enemy Health:{{gameCtrl.botHealth}} </h2>
  </aside>

  <img src= {{gameCtrl.image}} height="250" width="250" class='image-box'>


  <section ng-show='gameCtrl.checkBattleBool()' class='battle-box'>
    <button ng-click='gameCtrl.playerAtk()'>ATK</button>
    <button ng-click='gameCtrl.playerItems()'>Item</button>
    <button ng-click='gameCtrl.playerDef()'>Defense</button>
  </section>


  <aside ng-show='!gameCtrl.checkBattleBool()'class='move-box' >
    <button ng-click='gameCtrl.rollCtrl()'>ROLL!</button>
    <h3>{{gameCtrl.roll}}</h3>
    <h3>{{gameCtrl.boardSize}}</h3>
  </aside>

  <ul class='message-board'>
    <li><h3>{{gameCtrl.messageArray[0]}}</h3></li>
    <li><p>{{gameCtrl.messageArray[1]}} </p></li>
    <li><p>{{gameCtrl.messageArray[2]}} </p></li>
    <li><p>{{gameCtrl.messageArray[3]}} </p></li>
    <li><p>{{gameCtrl.messageArray[4]}} </p></li>
    <li><p>{{gameCtrl.messageArray[5]}} </p></li>
  </ul>



</section>
