<section class='logo'>
  <img src='/images/food_fight_logo.png' alt='food fight logo' class='logo'>
</section>

<form class='form-group form-inline upcForm col-lg-4 col-lg-offset-4' ng-submit='upcCtrl.sendUpcData(upcCtrl.upcCode)' name='findupc'>

  <label for='upc'>Enter a UPC</label>
  <input class='form-control' ng-model='upcCtrl.upcCode' type='text' name='upc' required placeholder='Enter a UPC'>

  <input class='form-control btn btn-info' type='submit' name='upcSubmit' value='find UPC'>

</form>
