<h1>Editing Admin Card Assignment</h1>

<%= render 'form', admin_card_assignment: @card_assignment %>

<%= link_to 'Show', [:admin, @card_assignment] %> |
<%= link_to 'Back', admin_card_assignments_path %>
