.bio-wrapper {
  padding: 3em;
}
.creators {
  font-family: Courier, Times, serif;
  text-align: left;
  color: $terminal-green;
  background-color: $background-color;
  padding: 2em;
  border: 5px solid $info-color;
  box-sizing: border-box;

  h2 {
    font-family: Courier, Times, serif;
    text-align: center;
  }

  a{
    color: #ffffff;
  }
}

.bioLead {
  text-align: center;
}
