@keyframes glow {
  0% {
      transform: scale(1);
    }

    100% {
      transform: scale(1.05);
    }
}

/* offset-x | offset-y | blur-radius | spread-radius | color */

.enemyGlow {
  box-shadow: 0 0 30px 10px white;
  animation-duration: 1s;
  animation-name: glow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
