
.loginSubmit {
  padding: 1em;
}

.makeAcctLink {
  text-align: center;

  p {
    color: $info-color;
  }

  a {
    color: $info-color;
  }

  a:hover {
    text-decoration: none;
    color: $primary-color;
  }

  a:focus {
    text-decoration: none;
    color: $info-color;
  }
}
