
nav {
  list-style: none;

  a {
    color: $warning-color;
  }

  a:hover {
    text-decoration: none;
    color: $primary-color;
  }

  a:focus {
    text-decoration: none;
    color: $primary-color;
  }

  li {
  display: inline;
  font-size:1.5em;
  padding-right:.5em;
  }
}

.navbar {
  padding-top: 1em;
  border-radius: 0px;
  margin: 0;
  border: 0;
}
