.grue {
  color: #ffffff;
  text-align: center;
  margin: auto;
  background-color: $background-color;
  display: flex;
  align-items: center;
  display: block;
  font-family: Courier, Times, serif;
  padding: 0;
}
