.grue {
  color: #$404-light-text;
  text-align: center;
  margin: auto;
  background-color: $background-color;
  font-family: Courier, Times, serif;
  padding: 0;

  a {
    color: #$404-light-text;
  }
}
