.battleground {
  margin: auto;
}

.cardDisplay {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  margin: 1em;
  border: 2px solid red;
  border-radius: 5px;
  background-color: white;
  height: 15em;
  width: 12em;
  padding: 1em;

  .progress {
    margin: 10px;
  }

  .stats-group {
    li {
      font-size: 0.5em;
    }
  }
}

.move-box {
  color: $terminal-green;
  font-family: Courier, Times, serif;
}

.battle-box {
  margin: 1em;
}

.dice {
  border: 1px solid $primary-color;
}

.board-size {
  border: 1px solid $primary-color;
}

.message-board {
  list-style: none;
  color: $terminal-green;
  font-family: Courier, Times, serif;
}

.terminal-box {
  font-size: 0.75em;
  width: 100%;
  background-color: $background-color;
  border: 2px solid gray;
  margin-bottom: 1em;
  height: 13em;

  .terminal-header {
    font-size: 1.25em;
    font-family: Courier, Times, serif;
  }
}
