.image-box {
  margin: 2em;
  height: 200px;
  width: 200px;
  padding: 1em;
  border-radius: 10%;
  animation-name: bounceInDown;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
.cardWrapper {
  padding: 0;
  margin: 2em auto 1em;
}

.cardDisplay {
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  border: 5px solid $info-color;
  border-radius: 5px;
  background-color: #000000;

  p {
    font-family: Courier, Times, serif;
    color: $terminal-green;
    font-size: 0.75em;
  }

  .progress {
    margin: 10px;
  }

  .progress-bar-black {
    background-color: #000000;
  }

  .stats-group {
    li {
      font-size: 1em;
      background-color: $warning-color;
      border: 1px solid $info-color;
      padding: 0.25em
    }
  }
}
.play-buttons-wrapper {
  margin: 0.5em;

  .rollButton {
    box-shadow: 0 0 10px 5px white;
  }

  button:focus {
    box-shadow: 0 0 10px 5px white;
    border: none;
  }
}

.addGlow {
  box-shadow: 0 0 10px 5px white;
}

.move-box {
  color: $terminal-green;
  font-family: Courier, Times, serif;
}

.battle-box {
  margin: 0.5em;
}

.un-btn:hover {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  cursor: default;
}

.message-board {
  list-style: none;
  color: $terminal-green;
  font-family: Courier, Times, serif;
}

.terminal-box {
  overflow: scroll;
  font-size: 0.75em;
  background-color: $background-color;
  border: 2px solid gray;
  margin: 0.5em;
  height: 13em;

  .terminal-header {
    font-size: 1.25em;
    font-family: Courier, Times, serif;
  }
}
