$default-color: #aea79f;
$primary-color: #e95420;
$success-color: #38b44a;
$info-color: #772953;
$warning-color: #efb73e;
$danger-color: #df382c;
$background-color: #000000;
$light-text: #ffffff;
$terminal-green: #00ff00;
